/*
*
* Mobile Styles
*
*/

/* Mobile Menu */
.responsive-menu {
    display: none;
    width: auto;
    padding: 20px 15px;
    background: #2d2d2d;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.responsive-menu:hover {
    background: #2d2d2d;
    color: #fff;
    text-decoration: none;
}

.top-nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 9px 40px;
}

@media only screen and (max-width: 1235px){

	.subscribe{
		margin: 10px auto;
	}

	.social-links{
		text-align: center;
	}

	.main-col-post{
		width: 100%;
	}

	.right-col-post{
		width: 100%;
	}
	.left-col-post{
		width: 50%;
    	float: left;
    	text-align: center;
	}
	.right-col{
		width: 100%;
	}
	.latest-post{
		width: 32%;
		float: left;
	}
	.left-image-col img {
		display: none;
	}

	.pet-fb {
	    width: 40%;
	    float: left;
	}

	.ad125x{
		float: left;
		margin-left: 10px;
	}

	.right-bottom-home{
		width: 100%;
	}

	.left-bottom-home{
		width: 100%;
	}

	.digimag-about{
		text-align: center;
	}

	.container{
		flex-wrap: wrap;
	}

	.left-col {
	    width: 100%;
	    order: 0;
	}

	.main-col {
	    width: 100%;
	}

	.responsive-menu {
	    display: block;
	}

	.menu {
	    display: none;
	    padding-left: 0px;
	}
	nav {
	    margin: 0;
	    background: none;
	 }
	 .media-img{
		width: 100%;
	 }

	 #div-gpt-ad-1508262762239-0{
	 	display: none;
	 }

	 .menu li{
	 	width: 100%;
	 	text-align: center;
	 }
}

@media only screen and (max-width: 650px){
	.page-content {
	    flex: none;
	    width: 100%;
	}

	.cat-container{
	    width: 100%;
	}
	
}

